@model LocacaoDeCarros.Models.Pedido

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label">Clientes</label><br>
                <select name="IdCliente" id="IdCliente">
                    @foreach (var cliente in ViewBag.clientes)
                    {
                        <option value="@cliente.Id">@cliente.Id - @cliente.Nome</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IdCarro" class="control-label"></label><br>
                <select name="IdCarro" id="IdCarro">
                    @foreach (var carro in ViewBag.carros)
                    {
                        <option value="@carro.Id">@carro.Nome</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DataLocacao" class="control-label">Data de locação</label>
                <input asp-for="DataLocacao" class="form-control" />
                <span asp-validation-for="DataLocacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEntrega" class="control-label">Data de Entrega</label>
                <input asp-for="DataEntrega" class="form-control" />
                <span asp-validation-for="DataEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

